    <script src="/static/js/bootstrap.bundle.min.js?v=<%= locals.staticVersion || 1 %>" defer></script>
    <script src="/static/js/app.js?v=<%= locals.staticVersion || 1 %>" defer></script>
  </body>
</html>
